name = "fuseit-wordle"
compatibility_date = "2024-01-01"
pages_build_output_dir = "frontend/build/web"

[[d1_databases]]
binding = "DB"
database_name = "fuseit-wordle-db"
database_id = "YOUR_D1_DATABASE_ID"
